- var sec = content.sections.prizes
.prizes.section__main
  .section__content.tp-text--center
    .section__heading.tp-heading--large.glitch !{sec.heading}
    .section__text.tp-body--big !{sec.desc}
    .prizes__list
      for item, index in sec.list
        .prizes__item.prize
          .prize__img: img(src=item.img, title=item.title)
          .prize__title.tp-body--big: b !{item.title}
          .prize__quan.tp-body--big
            span !{item.quan.title + '&nbsp;'}
            b !{item.quan.val}
