extends template

prepend page
	- var layout = 'home';
	- var currentPage = 'home';
	- var pageTitle = false;
	- var pageDesc = false;
	- var pageImg = false;

block content
	.page(class="page--" + currentPage)
		.fullpage
			for item, key in content.sections
				.section(data-anchor=key, id=key + "-id")
					+dyn(key)
		+modal('order-popup').modal--small
			include components/order-form
		#masks-popup.fullsize-popup
			include components/masks
		#fp-menu.fullpage-menu
			.fullpage-menu__inner
				for item, key in content.sections
					a.fullpage-menu__link(href="#" + key, data-menuanchor=key) !{item.title}
		#fp-nav.fullpage-nav
			.fullpage-nav__inner
				for item, key in content.sections
					a.fullpage-nav__link(href="#" + key, data-menuanchor=key)
