include ../mixins
.footer
  .l-container
    .footer__content
      .footer__note
        .text.tp-body--small !{company.note}
      .footer__documents
        each item in company.documents
          a.document.tp-body--small(href=item.url, target="_blank", alt=item.title) !{item.title}
      .footer__socials
        each item in company.socials
          a.social(href=item.url, title=item.title)
            +icon(item.icon)
